body{
    background-color: black;
}
.display{
    padding:20px 50px ;
    background: #fff;
    border-radius: 7px;
    color: black;
    font-size: 25px;
    width: 61%;

    
}
.show{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: auto;
    color: white;
}
.clear{
    width: 17%;
}
table{
    width: 50%;
    margin: auto;
}
table td, .clear{
    padding: 30px;
    background-color: green;
    color: white;
    border-radius: 7px;
    font-size: 22px;
    text-align: center;
}


