@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* news section start */

.newsSectionDiv{
  border: 1px solid gray;
}
.newsDiv{
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 17px 8px;
  width: 33.33%;
  padding: 15px 0;
}
.newsDiv img{
  max-width: 70px;
    /* background-color: orange; */
    padding: 8px;
    /* margin-left: 5%; */
    border-radius: 5px;
}
.newsFlexDiv{
display: flex;
gap: 2%;  
}
.newsHeadingDiv{
  display: flex !important;
  align-items: center !important;
  gap: 2% !important;
  /* justify-content: space-evenly !important; */
}
.newsHeadingDiv h3{
  font-size: 16px;
  font-weight: 500;
}
.newsDiv p, .newsReadMore{
  padding-left: 4%;
  padding-right: 3%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.newsDiv .fa-solid{
  font-size: 11px;
}

/* news section end */


.bannerSpacing{
  max-width: 90% !important;
}
/* .bannerSpacingFlex{
  gap: 5% !important;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
body {
  /* font-family: "Roboto", sans-serif; */
  font-family: system-ui;
}

.spacingDiv {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1130px;
}
.flexDiv {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  /* align-items: center; */
}
.boxPadding {
  padding: 20px;
}
.marginBottom {
  margin-bottom: 8px;
}
.sectionTitle{
  color: black;
  font-size: 27px;
  font-weight: bolder;
  margin-top: 3%;
  margin-bottom: 2%;
  font-family: system-ui;
}
.responsiveMarginBottom{
width: 23%;
}
/*  header start */
.headerButton a{
  color: white;
    background: #ff7900;
    padding: 8px 10px;
    font-weight: 700;
    border-radius: 2px;
    font-size: 15px;
    margin-left: 5%;
    
}
.headerLogo img{
  max-width: 150px;
}
.headerMargin{
  margin-top: 10px;
  margin-bottom: 10px;
}
.headerButton{
  width: 25%;
}
.headerFlex{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
/*  header end */

/* banner img start */
.slick-slide {
  width: 280px;
}
.bannerTextTop{
  align-items: start !important;
}
.bannerImg{
  /* background-image: url(Assets/amrita\ vidhyalaya\,\ only\ education.png); */
  background-image: url(Assets/rorkee.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}
/* banner form start */
.formContainer {
  display: flex;
  flex-direction: column;
  /* max-width: 40%; */
  background: #ffffff;
  padding: 25px 20px;
border-radius: 10px;
}
.formContainer h4{
  color: orange;
  /* text-align: center; */
  margin-bottom: 3%;
  font-size: 20px;
}


input {
  /* width: 95%; */
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
border-radius: 10px;
border: 1px solid #ced4da;
}
input:focus-visible{
  outline: none;
}
select:focus-visible{
  outline: none;
}

select {
  /* width: 99%; */
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
border-radius: 10px;
border: 1px solid #ced4da;
  
}
option{
  font-size: 16px;
}

#submit {
  border: none;
  background-color: orange;
  color: white;
  width: 98%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover {
  background-color: #FFD580;
}
.bannerAlignCenter{
  align-items: center !important;
  padding: 7% 0;
  }
 .bannerAlignCenter h1 {
    text-align: center;
    color: white;
    font-size: 44px;
    font-family: system-ui;
  }
  #formParentDiv{
    width: 50%;
  }

  #currentDate, .currentDate{
    display: none;
  }
/* banner form end */

/* banner img end */

/* Top College Start */
.collegelist {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 12px 0px;
  height: fit-content;
  width: fit-content;
}
.collegeTitle img {
  max-width: 70px;
  background-color: white;
  padding: 8px;
  margin-left: 5%;
  border-radius: 5px;
}
.collegeDegree h4 {
  color: black;
  font-size: 16px;
}
.collegePrice {
  color: #3eae8d;
  font-weight: 700;
}
.collegePriceYear {
  color: #999;
  font-size: small;
}
.bar {
  padding-left: 8px;
  padding-right: 8px;
  color: rgb(232, 232, 232);
}
.Specialization span {
  font-size: 14px;
  color: black;
}
.collegeLabelFlex {
  display: flex;
  margin-right: 0.5rem;
  align-items: center;
}
.yearSpan {
  font-size: 13px;
  margin-left: 5px;
}
.labelSpan img {
  max-width: 14px;
}
.collegeLabels {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
}
.collegeHeading {
  display: flex;
  gap: 2%;
  align-items: center;
  margin-bottom: 10px;
}
.collegeTitle {
  border-bottom: 1px solid rgb(232, 232, 232);
  padding-bottom: 15px;
  margin-bottom: 2%;
}
.collegeTitle h3 {
  font-size: 20px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  font-family: system-ui;
  margin-top: 2%;
  margin-bottom: 1%;
}
.readMore {
  color: rgb(255, 121, 0);
  background-color: rgba(255, 121, 0, 0.1);
  border-radius: 4px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}
.applyNow {
  color: rgb(255, 121, 0);
  background-color: rgba(255, 121, 0, 0.1);
  border-radius: 4px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}
.applyNow:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 121, 0);
  box-shadow: none;
}
.readMore:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 121, 0);
  box-shadow: none;
}
.clickReadMore {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin-top: 2%;
}
.clickReadMore p {
  font-size: 15px !important;
}
.courseTable {
  font-size: 16px !important;
  border: none !important;
  width: 100% !important;
  color: #333;
  border-collapse: collapse;
  margin: 2% 0;
  margin-bottom: 3%;
}
.courseTable tbody tr:nth-of-type(2n + 1) {
  background-color: rgb(249, 249, 249) !important;
}
.courseTable td {
  border: 1px solid rgb(221, 221, 221);
  padding: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 2;
  color: black;
}
.placementTable {
  font-size: 16px !important;
  border: none !important;
  width: 100% !important;
  border-collapse: collapse;
}
.placementTable th {
  background-color: rgb(139, 189, 196) !important;
  color: white;
  border: 1px solid rgb(221, 221, 221);
  padding: 12px;
}
.placementTable tbody tr:nth-of-type(2n + 1) {
  background-color: rgb(249, 249, 249) !important;
}
.placementTable td {
  border: 1px solid rgb(221, 221, 221);
  padding: 12px;
  text-align: center;
  font-size: 14px;
  color: black;
}
td:first-child {
  font-weight: bold;
}
.resizeImgDiv img{
  max-width: 31px;
}
.resizeImgDivSecond img{
  max-width: 23px;
}
.resizeImgDivThird img{
  max-width: 40px;
}


/* Top College end */

.firstBannerImg{
  background-image: url(Assets/colleges/birla\ institute.png);
  height: 25vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  
}
.topCollegesBannerImgsDiv{
  position: relative;
}
.bannerOverlayOverImg{
  background-image: linear-gradient(to top, #0000004d, #323c4f);
  position: absolute;
    width: 100%;
    min-height: 150px;
    height: 100%;
    max-height: 100px;
    top: 0px;
}
/* Top courses start*/
.examsList h4{
  color: #4d586c;
  font-size: 18px;
  font-weight: 700;
}
.alignItemCenter{
  align-items: center;
  display: flex;

}
.widthFull{
  width: 100%;
}
.examDuration span{
  font-size: 11.6px;
    color: #7e8995;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}
.examDuration h5{
  color: #5a88bb;
  font-size: 14px;
}
.examDuration{
  width: 50%;
  justify-content: end;
  gap: 5%;
}
.mainsDetailsPara{
  color: #666;
  font-style: italic;
  font-size: 14px;
  margin-right: 5%;
  /* border-bottom: 1px solid rgb(232, 232, 232);
  padding-bottom: 10px; */
}
.ExamApplyNow{
  font-size: 13px;
  font-weight: 600;
  border-radius: 88.9px;
  border: 1px solid #d6d6d6;
  padding: 6px 17px;
  display: block;
  margin-bottom: 5px;
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: #ff7900;
  color: #fff;
  cursor: pointer;
}
.ExamApplyNow:hover{
  color: #80899a;
  background: #fff;
  border: 1px solid #d6d6d6;
}
.gapContainer{
  display: flex;
  justify-content: space-between;
}
.examImageDiv img{
  max-width: 50px;
}
.examImageDiv{
  width: 40%;
  gap: 4%;
}
/* Top courses end */

/* palacement start */
.sliderCaption p .fa-location-dot{
  font-size: 18px;
  margin-right: 2%;
}


.my-slider{
  padding: 0 50px;
}
.slick-initialized .slick-slide{
  /* background-color: #b32532; */
  color: #FFF;
  height: 250px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* width: 300px !important; */
}



.slick-next, .slick-prev{
  z-index: 5;
}
.slick-next{
  right: 15px;
}
.slick-prev{
  left: 15px;
}
.slick-next:before, .slick-prev:before{
  color: #000;
  font-size: 26px;
}
.sliderParentDIv{
  border: 1px solid #d8d8d8;
  display: flex !important;
  flex-direction: column !important;
  align-items: start !important;
  /* width: 270px !important; */
}

.collegeCarousel{
  margin-bottom: 7%;
}
.sliderParentDIv h6{
  color: black;
  font-weight: 600;
  text-align: start;
  font-size: 16px;
}
.sliderParentDIv p{
  color:gray;
  margin-top: 5%;
  font-size: 18%;
}
.sliderParentDIv span{
  /* font-weight: 800; */
  font-size: 14px;
}
.sliderParentDIv img{
  width: inherit;
}
.sliderCaption{
  margin-top: 7%;
  padding-left: 15px;
}
/* palacement end */

/* footer start */

.footerDiv{
background-color: #f4f4f4;
}
.copyright p{
  color: rgb(102, 102, 102);
  font-size: 15px;
  font-weight: 700;
}
footer{
  padding: 3% 0;
  margin-top: 2%;
}
.socialIcons .fa-brands{
font-size: large;
margin-right: 5px;
cursor: pointer ;
}
.socialIcons .fa-brands:hover{
  color: gray;
}
.socialIcons a{
  color:black
}
.socialIcons a:hover {
  color:gray
}
.copyright a{
  color: black;
  text-decoration: none;
}
/* footer end */

/* popup form start */

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 555;
}

.popup-form {
  display: flex;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 40%;
  gap: 2%;
  /* align-items: center; */
}

.form-container {
  flex: 2;
  /* padding-right: 20px; */
}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #f4f4f4;
  border-radius: 5px;
  padding: 20px;
}

.icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.close-btn {
  float: right;
  cursor: pointer;
  font-size: 35px;
  position: absolute;
    top: 10%;
    right: 28%;
    color: white;
}

#apply_course {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.submit-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.illestetorIconDiv{
  border: 1px solid #ced4da;
  padding: 10px;
  background: white;
  width: 150px;
  text-align: center;
}
.iconsDiv{
  display: flex;
  gap: 2%;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 2%;
  
}
.iconsParentDiv{
  display: flex;
  gap : 2%;
  width: 100%;
  flex-direction: column;
}
.illestetorIconDiv p{
  font-size: 13px;
  text-align: center;
  font-weight: 600;
}
.illestetorIconDiv img{
  max-width: 40%;
  margin: 5%;
}
.info-container h3{
  color: orange;
  font-size: 17px;
  margin-bottom: 5%;
  width: 90%;
  font-weight: 500;
  font-family: system-ui;
}
.popupSubmit{
  border: none;
    background-color: orange;
    color: white;
    width: 98%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    max-width: 20%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
}
.popupLeadForm input, .popupLeadForm select{
width: 100% !important;
}
.popupLogoCompany{
  display: flex;
  align-items: center;
  gap: 2%;
  border-bottom: 1px solid #ced4da;
  margin-bottom: 5%;
  padding-bottom: 5%;
}
.popupLogoCompany h3{
  font-size: 24px;
  font-weight: 600;
  color: orange;
  font-family: system-ui;
}
.popupLogoCompany p{
  font-size: 17px;
  font-weight: 600;
  color: black;
  font-family: system-ui;
}
.popupLogoCompany img{
  max-width: 70px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  /* padding-left: 24px;
  padding-right: 24px; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.popupSubmit:hover{
  background-color: #d3931e;
}
#submit:hover{
  background-color: #d3931e !important;
}
/* popup form end */
.flexColumnDiv{
  flex-direction: column !important;
}
.collegeDetailsSpan{
  color: white;
  font-size: 14px;
  font-family: system-ui;
  margin-right: 2%;

}
.collegeDetailsSpan .fa-solid{
  margin-right: 5px;
}
.seconBannerImg{
  height: 25vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(Assets/colleges/mukesh\ ptel\ college.png);
}
.thirdBannerImg{
  height: 25vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(Assets/colleges/vit.png);
}
.fourthImgBanner{
  height: 25vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(Assets/colleges/shiv\ nadar.png);
}
.fifthImgBanner{
  height: 25vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(Assets/colleges/amity.png);
}
.sixthBannerImg{
  height: 25vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(Assets/colleges/Veermata\ Jijabai\ Technological.png);
}
.seventhBannerImg{
  height: 25vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(Assets/colleges/sardar\ college.png);
}
.eigthBannerImg{
  height: 25vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(Assets/colleges/Amrita\ Vishwa\ Vidyapeetham\,\ Coimbatore.png);
}
.ninthBannerImg{
  height: 25vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(Assets/colleges/Pune\ Institute\ of\ Computer\ Technology\,\ Pune.png);
}
.tenthBannerImg{
  height: 25vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(Assets/colleges/College\ Of\ Engineering\ Pune\,\ Pune.png);
}
.vitWidth{
  width: 100%;
}
.bannerAlignCenter h1{
  font-size: 60px;
  margin-right: 5%;
}


/* faq start */


.faq-container {
  max-width: 100%;
  margin: 50px auto;
}

.faq-item {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: height 0.3s ease;
}

.question {
  background-color: #464355;
  color: white;
  padding: 11px;
  margin: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
}

.answer {
  padding: 15px;
  margin: 0;
  display: none;
}

/* faq end */


/* media query */

@media only screen and (max-width: 1000px) {
  .newsDiv{
    width: 100%;
    margin-bottom: 3%;
  }
  .newsFlexDiv{
    flex-direction: column;
  }
  /* popup form start */
.info-container{
  display: none;
}
.close-btn{
top: 2%;
}


  /* popup form start */

  #formParentDiv{
    width: 100%;
  }
  .examImageDiv{
    width: 100%;
  }
  .flexDiv {
    flex-direction: column;
  }
  .examDuration {
    width: 100%;
    flex-direction: column;
    align-items: start;;
  }
  .responsiveMarginBottom{
    margin-top: 2%;
    width: 100%;
  }
  .gapContainer{
    flex-direction: column;
      align-items: start;
  }
  .bannerAlignCenter h1 {
    font-size: 30px;
    margin-bottom: 2%;
  }
  .headerButton{
      width: 50%;
      text-align: end;
  }
  .footerresponsive{
    flex-direction: column-reverse;
  }
  .socialIcons{
    margin-bottom: 4%;
    margin-top: 4%;
    text-align: center;
  }
  .copyright {
    text-align: center;
  }
}
@media only screen and (max-width: 750px){
.responsiveNone{
  display: none;
}
.headerLogo img{
  max-width: 100px;
}
  /* popup form */

  .popupLogoCompany{
    flex-direction: column !important;
  }
  .popupSubmit{
    max-width: 50%;
  }
  .popup-form{
    max-width: 80%;
  }
  .close-btn{
    top: 2%;
    right: 5%;
    }
  /* popup form */
}


@media only screen and (max-width: 450px){
  .bannerSpacing{
    max-width: 100% !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .bannerSpacingFlex{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .responsiveMarginLeft span:nth-last-child(-n+2) {
    display: none;
  }
  /* popup form */

  .popupLogoCompany{
    flex-direction: column !important;
  }
  .popupSubmit{
    max-width: 50%;
  }

  /* popup form */
  .bannerAlignCenter h1 {
    font-size: 22px;
    margin-bottom: 2%;
  }
  .sectionTitle{
    margin-top: 7%;
    margin-bottom: 5%;
  }
  .collegeTitle{
    flex-direction: column;
    align-items: start;
  }
  .collegeTitle h3{
    margin-top: 3%;
    
  }
  option,select,input, #submit{
    font-size: 15px;
  }
  /* .headerFlex{
   flex-direction: column;
  } */
.responsiveheading{
  font-size: 20px;
}
.firstBannerImg{
  height: 30vh;
  background-position: top;
  background-image: url(Assets/colleges/birla\ institute\ responsive.png);
}
.seconBannerImg{
  height: 30vh;
  background-position: top;
background-image: url(Assets/colleges/mukesh\ ptel\ college\ responsive.png);
}
.thirdBannerImg{
  height: 30vh;
  background-position: top;
background-image: url(Assets/colleges/vit\ responsive.png);
}
.fourthImgBanner{
  height: 30vh;
  background-position: top;
background-image: url(Assets/colleges/shiv\ nadar\ responsive.png);
}
.fifthImgBanner{
  height: 30vh;
  background-position: top;
background-image: url(Assets/colleges/amity\ responsive.png);
}
.sixthBannerImg{
  height: 35vh;
  background-position: top;
background-image: url(Assets/colleges/Veermata\ Jijabai\ Technological\ responsive.png);
}
.seventhBannerImg{
  height: 35vh;
  background-position: top;
background-image: url(Assets/colleges/sardar\ college\ responsive.png);
}
.eigthBannerImg{
  height: 35vh;
  background-position: top;
background-image: url(Assets/colleges/Amrita\ Vishwa\ Vidyapeetham\,\ Coimbatore\ responsive.png);
}
.ninthBannerImg{
  height: 35vh;
  background-position: top;
background-image: url(Assets/colleges/Pune\ Institute\ of\ Computer\ Technology\,\ Pune\ responsive.png);
}
.tenthBannerImg{
  height: 35vh;
  background-position: top;
background-image: url(Assets/colleges/College\ Of\ Engineering\ Pune\,\ Pune\ responsive.png);
}
.collegeTitle h3{
  font-size: 17px;
}
.responsiveMarginLeft{
  margin-left: 4%;
  padding-right: 2%;
}
.boxPadding{
  padding: 10px;
}
.collegeHeading  {
  justify-content: center;
}
.popup-form{
  width: 100%;
  max-width: 95%;
}
.close-btn{
  top: 0%;
  right: 4%;
}
}

@media only screen and (max-width: 350px) {
  .bannerSpacingFlex{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .collegelist {
    width: 100%;
  }
  .bannerAlignCenter h1 {
    font-size: 19px;
    margin-bottom: 2%;
  }
  .boxPadding{
    padding: 0;
  }
}




